
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: "#c2185b" ;
  --color-secondary: pink;
 
}
@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));

